
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{xdm/include/headNice :: headNice}"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">page 1</a></li>
          <li class="breadcrumb-item">page 2</li>
          <li class="breadcrumb-item active">Default</li>
        </ol>
      </nav>
      <h1>저울관리</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        
        <div class="col-lg-12">
          <div class="card" >
            <div class="card-body">
              <h1 class="card-title" style="height: 100px;" >기본정보</h1>

              <!-- Custom Styled Validation -->
              <form class="row g-3 needs-validation" action="/product/productXdmUpdt" method="post" id="form" novalidate>
                <div class="col-md-3" style="height: 100px;">
                <input type="hidden" name="seq" th:value="${item?.prdtSeq}">
                  <label for="prdtName" class="form-label">상품 이름<sup>*</sup></label>
                  <input type="text" class="form-control" id="prdtName" name="prdtName" th:value="${item?.prdtName}" required>
                </div>
                <div class="col-md-3">
                  <label for="prdtSN" class="form-label">시리얼 번호</label>
                  <input type="text" class="form-control" id="prdtSN" name="prdtSN" th:value="${item?.prdtSN}">
                </div>
                <div class="col-md-3">
                  <label for="prdtPrice" class="form-label">가격<sup>*</sup></label>
                  <input type="number" class="form-control" id="prdtPrice" name="prdtPrice" th:value="${item?.prdtPrice}" required>
                </div>
                <div class="col-md-3">
                  <label for="prdtCateCd" class="form-label">상품분류</label>
                  <select class="form-select" id="prdtCateCd" name="prdtCateCd" th:value="${item?.prdtCateCd}" aria-label="Default select example">
                      <option th:each="list : ${@codeService.selectListCachedCode(6)}" th:value="${list.codeSeq}" th:text="${list.codeName}" th:selected="${list.codeSeq} == ${item?.prdtCateCd}"></option>
                  </select>
                </div>
                <div class="col-md-3">
                  <label for="prdtUseNy" class="form-label">사용여부</label>
                  <select class="form-select" id="prdtUseNy" name="prdtUseNy" th:value="${item?.prdtUseNy}">
	                <option value="0" th:selected="${item?.prdtUseNy == 0}" th:text="N"></option>
                    <option value="1" th:selected="${item?.prdtUseNy == 1}" th:text="Y"></option>
                  </select>
                </div>
                <div class="col-md-3">
                	<label for="prdtDelNy" class="form-label">삭제</label>
	                <select class="form-select" id="prdtDelNy" name="prdtDelNy" th:value="${item?.prdtDelNy}" aria-label="Default select example">
					<option value="0" th:selected="${item?.prdtDelNy == 0}" th:text="N"></option>
                    <option value="1" th:selected="${item?.prdtDelNy == 1}" th:text="Y"></option>
                  </select>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-6">
                  <a href="/product/ProductXdmList" class="btn btn-outline-dark"><i class="bi bi-blockquote-right"></i></a></div>
                <div class="col-md-6">
                  <div style="display: flex;justify-content: end;"><button type="button" class="btn btn-primary" id="btnsave"><i class="bi bi-server"></i></button></div>
                </div>
              </form><!-- End Custom Styled Validation -->

            </div>
          </div>

          

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <div th:replace="~{xdm/include/footerNice :: footerNice}"></div>

    <script type="text/javascript">

    document.getElementById("btnsave").onclick = function() {
		document.getElementById("form").submit();
	}
    
	</script>

</body>

</html>