<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{xdm/include/headNice :: headNice}"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">주문</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6 th:text="${pdor} + ' 건'"></h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="card-body">
                  <h5 class="card-title">제작 </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-tools"></i>
                    </div>
                    <div class="ps-3">
                      <h6 th:text="${mafa} + ' 건'"></h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">


                <div class="card-body">
                  <h5 class="card-title">배송</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-truck"></i>
                    </div>
                    <div class="ps-3">
                      <h6 th:text="${deli} + ' 건'"></h6>
                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->
 <!-- Top Selling -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">
                <div class="card-body pb-0">
                  <h5 class="card-title">거래처별 주문현황</h5>

                  <table class="table table-borderless" style="text-align: center;">
                    <thead>
                      <tr>
                        <th scope="col">번호</th>
                        <th scope="col">거래처명</th>
                        <th scope="col">담당자명</th>
                        <th scope="col">총주문수량</th>
                        <th scope="col">총주문액</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each ="list : ${list}">
                        <td th:text = "${list.dealSeq}"></td>
                        <td th:text = "${list.dealName}"></th>
                        <td th:text = "${list.dealManager}"></td>
                        <td th:text = "${list.totalQty} + ' 개'"></td>
                        <td th:text="'￦ ' + ${#numbers.formatInteger(list.totalPrice,3,'COMMA')}"></td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Top Selling -->
            <!-- Reports -->
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Reports <span>/Today</span></h5>

                  <table class="table table-borderless" style="text-align: center;">
                    <thead>
                      <tr>
                        <th scope="col">번호</th>
                        <th scope="col">상품명</th>
                        <th scope="col">상품분류</th>
                        <th scope="col">상품별 주문수량</th>
                        <th scope="col">상품별 주문액</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each ="items : ${items}">
                        <td th:text = "${items.prdtSeq}"></td>
                        <td th:text = "${items.prdtName}"></th>
                        <td th:text = "${@codeService.selectOneCachedCode(items.prdtCateCd)}"></td>
                        <td th:text = "${items.amountQty} + ' 개'"></td>
                        <td th:text="'￦ ' + ${#numbers.formatInteger(items.amountPrice,3,'COMMA')}"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div><!-- End Reports -->

            <!-- Recent Sales -->

      </div>
    </section>

  </main><!-- End #main -->
  
<div th:replace="~{xdm/include/footerNice :: footerNice}"></div>

</body>

</html>