<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cass.demo.module.dealer.DealerDao">

<resultMap id="resultMapObj" type="com.cass.demo.module.dealer.DealerDto"></resultMap>

	<sql id="selectCommon">	    
	    from
			dealer
		where 1=1
		<if test="shUseNy != null and !shUseNy.equals('')">AND dealUseNy = #{dealUseNy}</if>
        <if test="shDelNy != null and !shDelNy.equals('')">AND dealDelNy = #{dealDelNy}</if>
				<choose>
					<when test="shOptionDate == 1">AND dealRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND dealModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
        <choose>
            <when test="shOption == 1">AND dealSeq = #{shValue}</when>
            <when test="shOption == 2">AND dealName LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
    </sql>
	
	<select id="selectOneCount" resultType="Integer">
    	select count(*)
    	 <include refid = "selectCommon"></include>
    </select>
    
    <select id="selectList" resultMap="resultMapObj">
	select aa.* from (
		SELECT
			dealSeq
		    ,dealName
		    ,dealAddress
		    ,dealZipCode
		    ,dealAddressDetail
		    ,dealGpsX
		    ,dealGpsY
		    ,dealManager
		    ,dealTel
		    ,dealManagerTel
		    ,dealFaxNum
		    ,dealDesc
		    ,dealRegDate
		    ,dealModDate
		    ,dealUseNy
		    ,dealDelNy
		<include refid = "selectCommon"></include>
		order by dealSeq desc
	) aa
	limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			dealSeq
		    ,dealName
		    ,dealAddress
		    ,dealZipCode
		    ,dealAddressDetail
		    ,dealGpsX
		    ,dealGpsY
		    ,dealManager
		    ,dealTel
		    ,dealManagerTel
		    ,dealFaxNum
		    ,dealDesc
		    ,dealRegDate
		    ,dealModDate
		    ,dealUseNy
		    ,dealDelNy
		FROM
			dealer
		WHERE 1=1
			AND dealSeq = #{dealSeq}
	</select>
	
	<insert id="insert">
		insert into product (
			dealName
			,dealAddress
			,dealManager
			,dealManagerTel
			,dealUseNy
			,dealDelNy
			,dealRegDate
			,dealModDate
			,dealDesc
		) values (
			#{dealName}
			,#{dealAddress}
			,#{dealManager}
			,#{dealManagerTel}
			,#{dealUseNy}
			,#{dealDelNy}
			,CURRENT_TIMESTAMP
			,CURRENT_TIMESTAMP
			,#{dealDesc}
		)
		<selectKey resultType="String" keyProperty="prdtSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		update dealer set
			dealName = #{dealName}
			,dealAddress = #{dealAddress}
			,dealManager = #{dealManager}
			,dealManagerTel = #{dealManagerTel}
			,dealUseNy = #{dealUseNy}
			,dealDelNy = #{dealDelNy}
			,dealModDate = CURRENT_TIMESTAMP
		where
			dealSeq = #{dealSeq}
	</update>
	
	<update id="uelete">
		update dealer set
			dealDelNy = 1
		where
			dealSeq = #{dealSeq}
	</update>
</mapper>