<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cass.demo.module.delivery.DeliveryDao">

<resultMap id="resultMapObj" type="com.cass.demo.module.delivery.DeliveryDto"></resultMap>

	<sql id="selectCommon">
		from
		  delivery deli
		  left join productorder pdor ON deli.productorder_pdorSeq = pdor.pdorSeq
		WHERE 1=1 
			<choose>
	            <when test="shOption == 1">AND pdor.pdorNum = #{shValue}</when>
	            <when test="shOption == 3">AND deli.deliNum = #{shValue}</when>
	            <when test="shOption == 4">AND (SELECT a.mafaNum FROM manufacture a WHERE a.productorder_pdorSeq = pdor.pdorSeq limit 1) = #{shValue}</when>
	        </choose>
			<choose>
				<when test="shOptionDate == 3">AND deli.deliRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
    </sql>

<select id="selectList" resultMap="resultMapObj">

	select
		pdor.pdorNum,
		pdor.pdorStatusCd,
		pdor.pdorTotalPrice,
		deli.deliSeq,
		deli.deliNum,
	    deli.deliStausCd,
	    deli.deliRegDate,
	    deli.deliModDate,
	    deli.deliDesc,
	    (SELECT a.mafaNum FROM manufacture a WHERE a.productorder_pdorSeq = pdor.pdorSeq limit 1) AS mafaNum,
    	(SELECT group_concat(a.mafaTotalQty) FROM manufacture a WHERE a.productorder_pdorSeq = pdor.pdorSeq) AS totalQtys,
	    (SELECT SUM(pdolQty) FROM productorderlist WHERE productorder_pdorSeq = pdorSeq) AS productTotalCnt
		<include refid = "selectCommon"></include>
		ORDER BY deli.deliSeq DESC
		limit #{rowNumToShow} offset #{startRnumForMysql}

</select>

	<select id="selectOneCount" resultType="Integer">
	
	Select count(*)
	<include refid = "selectCommon"></include>

	</select>

	<select id="deliMaxNum" resultType="Integer">
		SELECT MAX(deliNum) FROM delivery
	</select>
	
	<insert id="insert">
    	INSERT INTO delivery (
    		deliNum,
    		deliStausCd,
    		deliRegDate,
    		deliDelNy,
    		productorder_pdorSeq
    	) VALUE (
    		#{deliNum},
    		16,
    		date_format(NOW(), '%Y-%m-%d %H:%i:%S'),
    		0,
    		(SELECT pdorSeq FROM productorder WHERE pdorNum = #{pdorNum})
    	)
    </insert>
    
    
    <select id="selectOne" resultMap="resultMapObj">
        SELECT
			pdor.pdorNum,
			pdor.pdorStatusCd,
			pdor.pdorTotalPrice,
			deli.deliSeq,
			deli.deliNum,
		    deli.deliStausCd,
		    deli.deliRegDate,
		    deli.deliModDate,
		    deli.deliDesc,
		    d.dealName,
		    (SELECT a.mafaNum FROM manufacture a WHERE a.productorder_pdorSeq = pdor.pdorSeq limit 1) AS mafaNum,
	    	(SELECT group_concat(a.mafaTotalQty) FROM manufacture a WHERE a.productorder_pdorSeq = pdor.pdorSeq) AS totalQtys,
		    (SELECT SUM(pdolQty) FROM productorderlist WHERE productorder_pdorSeq = pdorSeq) AS productTotalCnt
        FROM
		  delivery deli
		  LEFT JOIN productorder pdor ON deli.productorder_pdorSeq = pdor.pdorSeq
		  LEFT JOIN dealer as d on pdor.dealer_dealSeq = d.dealSeq
		  
		WHERE 1=1 
       	AND	deliSeq = #{deliSeq}
    </select>
</mapper>