<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cass.demo.module.income.IncomeDao">
	
	<resultMap type="com.cass.demo.module.income.IncomeDto" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">	    
	    from
			incoming
		where 1=1
		<choose>
			<when test="shOptionDate == 1">AND incoRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND incoModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
        <choose>
            <when test="shOption == 1">AND incoSeq = #{shValue}</when>
        </choose>
    </sql>
	
	<select id="selectOneCount" resultType="Integer">
    	select count(*)
    	 <include refid = "selectCommon"></include>
    </select>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT  
			a.incoSeq
			,b.ptorNum
			,e.papaName
			,a.incoRegDate
			,a.incoAmountPrice
			,a.incoNum
			FROM incoming as a 
			left join partsorder as b on a.partsorder_ptorSeq = b.ptorSeq
			left join partpartner as e on b.partpartner_papaSeq = e.papaSeq
			;
	</select>
</mapper>