<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cass.demo.module.income.IncomeDao">
	
	<resultMap type="com.cass.demo.module.income.IncomeDto" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">	    
	    FROM incoming as a 
			left join manufacture as m on a.manufacture_mafaSeq = m.mafaSeq
			left join productorder as p on m.productorder_pdorSeq = p.pdorSeq
		where 1=1
		
		<if test="shStatus != null and !shStatus.equals('')">AND a.incoStatusCd = #{shStatus}</if>
		
		<choose>
			<when test="shOptionDate == 1">AND incoRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND incoModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
        <choose>
            <!-- <when test="shOption == 1">AND incoNum = #{shValue}</when> -->
            <when test="shOption == 2">AND incoNum = #{shValue}</when>
            <when test="shOption == 3">AND mafaNum = #{shValue}</when>
        </choose>
    </sql>
    
    <sql id="selectCommonForDeli">	    
	    FROM incoming as a 
			left join manufacture as m on a.manufacture_mafaSeq = m.mafaSeq
		where 1=1
			AND incoStatusCd = 12
		<choose>
			<when test="shOptionDate == 3">AND incoRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
        <choose>
            <!-- <when test="shOption == 1">AND incoNum = #{shValue}</when> -->
            <when test="shOption == 3">AND incoNum = #{shValue}</when>
            <when test="shOption == 4">AND mafaNum = #{shValue}</when>
        </choose>
    </sql>
	
	<select id="selectOneCount" resultType="Integer">
    	select count(*)
    	 <include refid = "selectCommon"></include>
    </select>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT  
			a.incoSeq
			,a.incoNum
			,a.incoStatusCd
			,a.incoTotalQty
			,a.incoRegDate
			,a.incoModDate
			,m.mafaNum
			,p.pdorNum
		<include refid = "selectCommon"></include>
		ORDER BY a.incoSeq DESC
	</select>
	
	<select id="selectOneCountForDeli" resultType="Integer">
    	select count(*)
    	 <include refid = "selectCommonForDeli"></include>
    </select>
	
	<select id="selectListForDeli" resultMap="resultMapObj">
		SELECT  
			a.incoSeq
			,a.incoNum
			,a.incoStatusCd
			,a.incoTotalQty
			,a.incoRegDate
			,a.incoModDate
			,m.mafaNum
		<include refid = "selectCommonForDeli"></include>
	</select>
	
	  	 <select id="selectIncoStatus" resultMap="resultMapObj">
		select
			codeName,
			codeSeq
		from
			code
		where 1=1
		 and codeGroup_cdgrSeq=4
		order by codeSeq desc  		
 	</select>
 	
 	<insert id="insert">
 		INSERT INTO incoming (
 			incoNum,
 			incoStatusCd,
 			incoTotalQty,
 			incoRegDate,
 			incoDelNy,
 			manufacture_mafaSeq
 		) VALUE (
 			#{incoNum},
 			12,
 			#{mafaTotalQty},
 			date_format(NOW(), '%Y-%m-%d %H:%i:%S'),
 			0,
 			(SELECT mafaSeq FROM manufacture WHERE mafaNum = #{mafaNum})
 		)
 	</insert>
 	
 	<select id="selectMaxIncoNum" resultType="Integer">
 		SELECT MAX(incoNum) FROM incoming
 	</select>
</mapper>