<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cass.demo.module.income.IncomeDao">
	
	<resultMap type="com.cass.demo.module.income.IncomeDto" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">	    
	    FROM incoming as a 
			left join manufacture as m on a.manufacture_mafaSeq = m.mafaSeq
			left join productorder as p on m.productorder_pdorSeq = p.pdorSeq
			
		where 1=1
		
		<if test="shStatus != null and !shStatus.equals('')">AND a.incoStatusCd = #{shStatus}</if>
		
		<choose>
			<when test="shOptionDate == 1">AND incoRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
        <choose>
            <when test="shOption == 1">AND incoNum = #{shValue}</when>
            <when test="shOption == 2">AND mafaNum = #{shValue}</when>
            <when test="shOption == 3">AND pdorNum = #{shValue}</when>
        </choose>
    </sql>
    
    <sql id="selectCommonForDeli">	    
	    FROM incoming as a 
			left join manufacture as m on a.manufacture_mafaSeq = m.mafaSeq
		where 1=1
			AND incoStatusCd = 12
		<choose>
			<when test="shOptionDate == 3">AND incoRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
        <choose>
            <!-- <when test="shOption == 1">AND incoNum = #{shValue}</when> -->
            <when test="shOption == 3">AND incoNum = #{shValue}</when>
            <when test="shOption == 4">AND mafaNum = #{shValue}</when>
        </choose>
    </sql>
	
	<select id="selectOneCount" resultType="Integer">
    	select count(*)
    	 <include refid = "selectCommon"></include>
    </select>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT  
			a.incoSeq
			,a.incoNum
			,a.incoStatusCd
			,a.incoTotalQty
			,a.incoRegDate
			,a.incoModDate
			,m.mafaNum
			,p.pdorNum
		<include refid = "selectCommon"></include>
		ORDER BY a.incoSeq DESC
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	<select id="selectOne" resultMap="resultMapObj">
		SELECT  
			a.incoSeq
			,a.incoNum
			,a.incoStatusCd
			,a.incoTotalQty
			,a.incoRegDate
			,a.incoModDate
			,m.mafaNum
			,p.pdorNum
			,p.pdorSeq
			,p.pdorStatusCd
			,d.dealName
		FROM incoming as a 
			left join manufacture as m on a.manufacture_mafaSeq = m.mafaSeq
			left join productorder as p on m.productorder_pdorSeq = p.pdorSeq
			left join dealer as d on p.dealer_dealSeq = d.dealSeq
		where 1=1
		and	incoSeq = #{incoSeq}
	</select>
	
	<select id="selectOneList" resultMap="resultMapObj">
	select
		pdor.pdorSeq,
		pdor.pdorNum,
        pdor.pdorRegDate,
        pdor.pdorModDate,
        pdor.pdorTotalQty,
        pdor.pdorTotalPrice,
        pdor.pdorDesc,
        pdor.pdorDelNy,
        pdor.pdorStatusCd,
        pdor.dealer_dealSeq,
        pdol.pdolSeq,        
        pdol.pdolQty,
        pdol.pdolAmountPrice,
        pdol.pdolDelNy,
        pdol.product_prdtSeq,
        pdol.pdolStatusCd,
        prdt.prdtName,
        prdt.prdtPrice,
        d.dealName,
        d.dealManager
        
	from
		incoming i
	  left join manufacture m on i.manufacture_mafaSeq = m.mafaSeq
	  left join productorder pdor on m.productorder_pdorSeq = pdor.pdorSeq
	  left join productorderlist pdol ON pdol.productorder_pdorSeq = pdor.pdorSeq
	  left join product prdt on prdt.prdtSeq = pdol.product_prdtSeq
	  left join dealer d ON  pdor.dealer_dealSeq = d.dealSeq
	WHERE 1=1
		and	incoSeq = #{incoSeq}
	</select>
	
	<select id="selectOneCountForDeli" resultType="Integer">
    	select count(*)
    	 <include refid = "selectCommonForDeli"></include>
    </select>
	
	<select id="selectListForDeli" resultMap="resultMapObj">
		SELECT  
			a.incoSeq
			,a.incoNum
			,a.incoStatusCd
			,a.incoTotalQty
			,a.incoRegDate
			,a.incoModDate
			,m.mafaNum
		<include refid = "selectCommonForDeli"></include>
		ORDER BY a.incoSeq DESC
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	  	 <select id="selectIncoStatus" resultMap="resultMapObj">
		select
			codeName,
			codeSeq
		from
			code
		where 1=1
		 and codeGroup_cdgrSeq=4
		order by codeSeq desc  		
 	</select>
 	
 	<insert id="insert">
 		INSERT INTO incoming (
 			incoNum,
 			incoStatusCd,
 			incoTotalQty,
 			incoRegDate,
 			incoDelNy,
 			manufacture_mafaSeq
 		) VALUE (
 			#{incoNum},
 			12,
 			#{mafaTotalQty},
 			date_format(NOW(), '%Y-%m-%d %H:%i:%S'),
 			0,
 			(SELECT mafaSeq FROM manufacture WHERE mafaNum = #{mafaNum})
 		)
 	</insert>
 	
 	<select id="selectMaxIncoNum" resultType="Integer">
 		SELECT MAX(incoNum) FROM incoming
 	</select>
</mapper>