<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cass.demo.module.index.IndexDao">

<resultMap id="resultMapObj" type="com.cass.demo.module.index.IndexDto"></resultMap>
	
	<select id="selectOneCountOnPdor" resultType="Integer">
	Select count(*)
	From
		productorder pdor 
		WHERE 1=1 
		and pdor.pdorStatusCd != 6
	</select>

	<select id="selectOneCountOnMafa" resultType="Integer">
	Select count(*)
	From
		manufacture mafa 
		WHERE 1=1
		and mafa.mafaStausCd != 10
	</select>
	
	<select id="selectOneCountOnDeli" resultType="Integer">
	Select count(*)
	From
		delivery deli 
		WHERE 1=1
		and deli.deliStausCd != 16
	</select>
	
<!-- 	<select id="selectListForIndex" resultMap="resultMapObj"> -->
<!-- 		SELECT -->
<!-- 			dealSeq -->
<!-- 		    ,dealName -->
<!-- 		    ,dealAddress -->
<!-- 		    ,dealZipCode -->
<!-- 		    ,dealAddressDetail -->
<!-- 		    ,dealManager -->
<!-- 		    ,dealTel -->
<!-- 		    ,dealManagerTel -->
<!-- 		    ,(SELECT SUM(pdorTotalPrice) as tp FROM productorder WHERE dealer_dealSeq = dealSeq) as tp -->
<!-- 	    from dealer -->
<!-- 		order by dealSeq desc -->
<!-- 	</select> -->
	
	<select id="selectListItemForIndex" resultMap="resultMapObj">
		SELECT
			prdtSeq
		    ,prdtName
		    ,prdtCateCd
		    ,prdtPrice
		    ,(SELECT SUM(pdolAmountPrice) FROM productorderlist WHERE product_prdtSeq = prdtSeq) as amountPrice
		    ,(SELECT SUM(pdolQty) FROM productorderlist WHERE product_prdtSeq = prdtSeq) as amountQty
	    from product
	</select>
	
	

</mapper>