<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cass.demo.module.manufacture.ManufactureDao">
	
	<resultMap type="com.cass.demo.module.manufacture.ManufactureDto" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">	    
	    from
			manufacture
		where 1=1
		<choose>
			<when test="shOptionDate == 1">AND mafaRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND mafaModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
        <choose>
            <when test="shOption == 1">AND mafaNum = #{shValue}</when>
            <when test="shOption == 2">AND prdtName = #{shValue}</when>
        </choose>
    </sql>
	
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			m.mafaSeq 
		    ,m.mafaStausCd
		    ,p.prdtName
		    ,pol.pdolQty
		    ,po.pdorNum
		    ,m.mafaRegDate
		    ,m.mafaModDate
		    ,m.mafaNum
		FROM manufacture AS m
		LEFT JOIN productorderlist AS pol ON m.productorderlist_pdolSeq = pol.pdolSeq
		LEFT JOIN product AS p ON pol.product_prdtSeq = p.prdtSeq
		LEFT JOIN productorder AS po ON pol.productorder_pdorSeq = po.pdorSeq;
	</select>
	
	<select id="selectOneCount" resultType="Integer">
    	select count(*)
<!--     	FROM manufacture -->
    	 <include refid = "selectCommon"></include>
    </select>
</mapper>