<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cass.demo.module.manufacture.ManufactureDao">
	
	<resultMap type="com.cass.demo.module.manufacture.ManufactureDto" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">	    
	    FROM manufacture AS m
			LEFT JOIN productorder AS po ON m.productorder_pdorSeq = po.pdorSeq
			LEFT JOIN dealer AS d ON po.dealer_dealSeq = d.dealSeq
		where 1=1
 			AND mafaStausCd = 8
		<choose>
			<when test="shOptionDate == 3">AND mafaRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 4">AND mafaModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
        <choose>
        	<when test="shOption == 1">AND pdorNum = #{shValue}</when>
            <when test="shOption == 3">AND mafaNum = #{shValue}</when>
            <when test="shOption == 4">AND mafaName LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
    </sql>
    
    	<sql id="selectXdmCommon">	    
	    FROM manufacture AS m
			LEFT JOIN productorder AS po ON m.productorder_pdorSeq = po.pdorSeq
			LEFT JOIN dealer AS d ON po.dealer_dealSeq = d.dealSeq
		where 1=1
		<choose>
			<when test="shOptionDate == 1">AND mafaRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND mafaModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
        <choose>
        	<when test="shOption == 1">AND mafaNum = #{shValue}</when>
            <when test="shOption == 2">AND pdorNum = #{shValue}</when>
            <when test="shOption == 3">AND dealName LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
    </sql>
    
    	<sql id="selectCommonForInco">	    
	    FROM manufacture AS m
			LEFT JOIN productorder AS po ON m.productorder_pdorSeq = po.pdorSeq
		where 1=1
			AND m.mafaStausCd = 10
			AND m.mafaUseNy = 1
		<choose>
			<when test="shOptionDate == 2">AND mafaRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 3">AND mafaModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
        <choose>
            <when test="shOption == 3">AND mafaNum = #{shValue}</when>
            <when test="shOption == 4">AND mafaName LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
    </sql>
	
		<select id="selectXdmList" resultMap="resultMapObj">
		SELECT
			m.mafaSeq 
		    ,m.mafaStausCd
		    ,m.mafaTotalQty
		    ,po.pdorTotalQty
		    ,po.pdorNum
		    ,m.mafaRegDate
		    ,m.mafaModDate
		    ,m.mafaNum
		    ,m.mafaName
		    ,d.dealName
		    <include refid = "selectXdmCommon"></include>
		    ORDER BY m.mafaSeq DESC
		    limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			m.mafaSeq 
		    ,m.mafaStausCd
		    ,m.mafaTotalQty
		    ,po.pdorTotalQty
		    ,po.pdorNum
		    ,m.mafaRegDate
		    ,m.mafaModDate
		    ,m.mafaNum
		    ,m.mafaName
		    ,d.dealName
		    <include refid = "selectCommon"></include>
		    ORDER BY m.mafaSeq DESC
		    limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			m.mafaSeq 
		    ,m.mafaStausCd
		    ,m.mafaTotalQty
		    ,po.pdorTotalQty
		    ,po.pdorNum
		    ,po.pdorSeq
		    ,m.mafaRegDate
		    ,m.mafaModDate
		    ,m.mafaNum
		    ,m.mafaName
		    ,d.dealName
	     FROM manufacture AS m
			LEFT JOIN productorder AS po ON m.productorder_pdorSeq = po.pdorSeq
			LEFT JOIN dealer AS d ON po.dealer_dealSeq = d.dealSeq
		 where 1=1
		 and mafaSeq = #{mafaSeq}
	</select>
	
	<select id="selectOneList" resultMap="resultMapObj">
	select
		pdor.pdorSeq,
		pdor.pdorNum,
        pdor.pdorRegDate,
        pdor.pdorModDate,
        pdor.pdorTotalQty,
        pdor.pdorTotalPrice,
        pdor.pdorDesc,
        pdor.pdorDelNy,
        pdor.pdorStatusCd,
        pdor.dealer_dealSeq,
        pdol.pdolSeq,        
        pdol.pdolQty,
        pdol.pdolAmountPrice,
        pdol.pdolDelNy,
        pdol.product_prdtSeq,
        pdol.pdolStatusCd,
        prdt.prdtName,
        prdt.prdtPrice,
        d.dealName,
        d.dealManager
        
	from
		manufacture m
	  left join productorder pdor on m.productorder_pdorSeq = pdor.pdorSeq
	  left join productorderlist pdol ON pdol.productorder_pdorSeq = pdor.pdorSeq
	  left join product prdt on prdt.prdtSeq = pdol.product_prdtSeq
	  left join dealer d ON  pdor.dealer_dealSeq = d.dealSeq
	WHERE 1=1
		and	mafaSeq = #{mafaSeq}
	</select>
	
	
	<select id="selectOneCount" resultType="Integer">
    	select count(*)
<!--     	FROM manufacture -->
    	 <include refid = "selectCommon"></include>
    </select>
    
    	<select id="selectOneXdmCount" resultType="Integer">
    	select count(*)
    	 <include refid = "selectXdmCommon"></include>
    </select>
    
       <select id="selectListForInco" resultMap="resultMapObj">
		SELECT
			m.mafaSeq 
		    ,m.mafaStausCd
		    ,po.pdorNum
		    ,m.mafaRegDate
		    ,m.mafaModDate
		    ,m.mafaNum
		    ,m.mafaName
		    ,m.mafaTotalQty
		    <include refid = "selectCommonForInco"></include>
			ORDER BY m.mafaSeq DESC
		    limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectOneCountForInco" resultType="Integer">
    	select count(*)
<!--     	FROM manufacture -->
		    <include refid = "selectCommonForInco"></include>			
    </select>
    
    <insert id="insert">
    	INSERT INTO manufacture (
    		mafaName,
    		mafaNum,
    		mafaStausCd,
    		mafaRegDate,
    		mafaTotalQty,
    		mafaDelNy,
    		mafaUseNy,
    		productorder_pdorSeq
    	) VALUE (
    		#{prdtName},
    		#{mafaNum},
    		8,
    		date_format(NOW(), '%Y-%m-%d %H:%i:%S'),
    		#{pdolQty},
    		0,
    		1,
    		(SELECT pdorSeq FROM productorder WHERE pdorNum = #{pdorNum})
    	)
    </insert>
    
    <select id="maxMafaNum" resultType="Integer">
    	SELECT MAX(mafaNum) FROM manufacture
    </select>
    
    <update id="update">
    	UPDATE manufacture
    	SET
    		mafaStausCd = #{mafaStausCd},
    		mafaModDate = date_format(NOW(), '%Y-%m-%d %H:%i:%S')
    	WHERE 1=1
    		AND mafaNum = #{mafaNum}
    </update>
    
    <update id="updateNotUse">
    	UPDATE manufacture
    	SET
    		mafaUseNy = 0
    	WHERE 1=1
    		AND mafaNum = #{mafaNum}
    </update>
    
    <select id="isIncomeComplete" resultMap="resultMapObj">
    	SELECT
    		mafaUseNy
    	FROM
    		manufacture
    	WHERE 1=1
    		AND productorder_pdorSeq = (SELECT pdorSeq FROM productorder WHERE pdorNum = #{pdorNum})
    </select>
</mapper>