<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cass.demo.module.member.MemberDao">

<resultMap id="resultMapObj" type="com.cass.demo.module.member.MemberDto"></resultMap>

	<sql id="selectCommon">	    
	    from
			member
		where 1=1
		<if test="shUseNy != null and !shUseNy.equals('')">AND membUseNy = #{shUseNy}</if>
        <if test="shDelNy != null and !shDelNy.equals('')">AND membDelNy = #{shDelNy}</if>
				<choose>
					<when test="shOptionDate == 1">AND membRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND membModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
        <choose>
            <when test="shOption == 1">AND membId LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 2">AND membName LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
    </sql>

	<select id="selectOneLogin" resultMap="resultMapObj">
		SELECT
			membSeq,
		    membId,
		    membPassword,
		    membName,
		    membRegDate,
		    membModDate,
		    membUseNy,
		    membDelNy
		FROM
			member
		WHERE 1=1
			AND membId = #{membId}
	<if test="membPassword != null and !membPassword.equals('')">AND membPassword = #{membPassword}</if>
		
	</select>
	
	<select id="getIdPass" resultMap="resultMapObj">
		SELECT
		    membId,
		    membPassword
		FROM
			member
		WHERE 1=1
			AND membSeq = #{membSeq}
			
	</select>
	
	<select id="selectOneCount" resultType="Integer">
    	select count(*)
    	 <include refid = "selectCommon"></include>
    </select>
    
    <select id="selectList" resultMap="resultMapObj">
	select aa.* from (
		SELECT
			membSeq
			,membId
		    ,membPassword
		    ,membCateCd
		    ,membName
		    ,membRegDate
		    ,membModDate
		    ,membUseNy
		    ,membDelNy
		<include refid = "selectCommon"></include>
		order by membSeq desc
	) aa
	limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			membSeq,
		    membId,
		    membPassword,
		    membCateCd,
		    membName,
		    membRegDate,
		    membModDate,
		    membUseNy,
		    membDelNy
		FROM
			member
		WHERE 1=1
			AND membSeq = #{membSeq}
	</select>

</mapper>