<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cass.demo.module.productorder.ProductOrderDao">

<resultMap id="resultMapObj" type="com.cass.demo.module.productorder.ProductOrderDto"></resultMap>

	<sql id="selectCommonForMafa">	    
	    from
			productorder pdor 
			left join (select productorder_pdorSeq from productorderlist group by productorder_pdorSeq) AS pdol on pdol.productorder_pdorSeq = pdor.pdorSeq
			left join dealer d ON  pdor.dealer_dealSeq = d.dealSeq
		WHERE 1=1 
			AND pdor.pdorDelNy = 0
			AND pdor.pdorStatusCd = 3
		<choose>
			<when test="shOptionDate == 1">AND pdorRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND pdorModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
        <choose>
            <when test="shOption == 1">AND pdorNum = #{shValue}</when>
            <when test="shOption == 2">AND dealName LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
    </sql>
    
    <sql id="selectCommonForDeli">	    
	    from
			productorder pdor 
			left join (select productorder_pdorSeq from productorderlist group by productorder_pdorSeq) AS pdol on pdol.productorder_pdorSeq = pdor.pdorSeq
			left join dealer d ON  pdor.dealer_dealSeq = d.dealSeq
		WHERE 1=1 
			AND pdor.pdorDelNy = 0
			AND pdor.pdorStatusCd = 6
		<choose>
			<when test="shOptionDate == 1">AND pdorRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND pdorModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
        <choose>
            <when test="shOption == 1">AND pdorNum = #{shValue}</when>
            <when test="shOption == 2">AND dealName LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
    </sql>
    
<select id="selectList" resultMap="resultMapObj">

	select
		pdor.pdorSeq,
		pdor.pdorNum,
        pdor.pdorRegDate,
        pdor.pdorModDate,
        pdor.pdorTotalQty,
        pdor.pdorTotalPrice,
        pdor.pdorDesc,
        pdor.pdorDelNy,
        pdor.pdorStatusCd,
        pdor.dealer_dealSeq,
<!--         pdol.pdolSeq, -->
<!--         pdol.pdolQty, -->
<!--         pdol.pdolAmountPrice, -->
<!--         pdol.product_prdtSeq, -->
        d.dealName,
        d.dealManager
        
	from
	  productorder pdor 
<!-- 	  left join productorderlist pdol ON pdol.productorder_pdorSeq = pdor.pdorSeq -->
	  left join dealer d ON  pdor.dealer_dealSeq = d.dealSeq
		WHERE 1=1 
		ORDER BY pdor.pdorSeq DESC
		limit #{rowNumToShow} offset #{startRnumForMysql}


</select>

	<select id="selectOneCount" resultType="Integer">
	
	Select count(*)
	
	From
	
		productorder pdor left join productorderlist pdol ON pdol.productorder_pdorSeq = pdor.pdorSeq
		WHERE 1=1 
	</select>

	<select id="selectListForMafa" resultMap="resultMapObj">
	select
		pdor.pdorSeq,
		pdor.pdorNum,
        pdor.pdorRegDate,
        pdor.pdorModDate,
        pdor.pdorTotalPrice,
        pdor.pdorStatusCd,
        d.dealName
        <include refid = "selectCommonForMafa"></include>     
		ORDER BY pdor.pdorSeq DESC
		limit #{rowNumToShowNew} offset #{startRnumForMysqlNew}
	</select>
	
	<select id="selectOneCountForMafa" resultType="Integer">
	Select count(*)
	<include refid = "selectCommonForMafa"></include>
	</select>
	
	<select id="selectListForDeli" resultMap="resultMapObj">
	select
		pdor.pdorSeq,
		pdor.pdorNum,
        pdor.pdorRegDate,
        pdor.pdorModDate,
        pdor.pdorTotalPrice,
        pdor.pdorStatusCd,
        d.dealName
        <include refid = "selectCommonForDeli"></include>     
		ORDER BY pdor.pdorSeq DESC
		limit #{rowNumToShowNew} offset #{startRnumForMysqlNew}
	</select>
	
	<select id="selectOneCountForDeli" resultType="Integer">
	Select count(*)
	<include refid = "selectCommonForDeli"></include>
	</select>
	
	<select id="selectOneList" resultMap="resultMapObj">
		SELECT
			a.pdolQty,
			a.pdolAmountPrice,
			b.prdtName,
			b.prdtSN
		FROM
			productorderlist a
			LEFT JOIN product b ON b.prdtSeq = a.product_prdtSeq
		WHERE 1=1
			AND (SELECT pdorSeq FROM productorder WHERE 1=1 AND pdorNum = #{pdorNum}) = productorder_pdorSeq
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">

	select
		pdor.pdorSeq,
		pdor.pdorNum,
        pdor.pdorRegDate,
        pdor.pdorModDate,
        pdor.pdorTotalQty,
        pdor.pdorTotalPrice,
        pdor.pdorDesc,
        pdor.pdorDelNy,
        pdor.pdorStatusCd,
        pdor.dealer_dealSeq,
        d.dealName,
        d.dealManager
        
	from
	  productorder pdor 
	  left join dealer d ON  pdor.dealer_dealSeq = d.dealSeq
	WHERE 1=1
		and	pdorSeq = #{pdorSeq}
	</select>
	
	<select id="selectNum" resultMap="resultMapObj">
	select
		pdorNum,
	from
	  productorder
	WHERE 1=1
	</select>
	
	<insert id="insert">
	insert into productorder (
		pdorNum,
        pdorDesc,
        pdorStatusCd,
        dealer_dealSeq
		) values (
			#{pdorNum}
			,#{pdorDesc}
			,3
			,#{dealer_dealSeq}
		)
		</insert>
		<insert id="insertOL">
		insert into productorderlist (
				pdolQty
				,product_prdtSeq
				,productorder_pdorSeq
				,pdolAmountPrice
				) values (
				#{pdolQty}
				,#{product_prdtSeq}
				,#{pdorSeq}
				, (select prdtPrice from product where prdtSeq = #{product_prdtSeq}) * pdolQty
				)
		</insert>
	
	<select id="selectMaxSeq" resultType="Integer">
		SELECT
			MAX(pdorSeq)
		FROM
			productorder
	</select>
	<select id="selectMaxNum" resultType="Integer">
		SELECT
			MAX(pdorNum)
		FROM
			productorder
	</select>
	
	<update id="update">
		update productorder set
        	pdorDesc = #{pdorDesc}
		where
			pdorSeq = #{pdorSeq}
	</update>
	
	<select id="selectedOneList" resultMap="resultMapObj">

	select
		pdor.pdorSeq,
		pdor.pdorNum,
        pdor.pdorRegDate,
        pdor.pdorModDate,
        pdor.pdorTotalQty,
        pdor.pdorTotalPrice,
        pdor.pdorDesc,
        pdor.pdorDelNy,
        pdor.pdorStatusCd,
        pdor.dealer_dealSeq,
        pdol.pdolSeq,        
        pdol.pdolQty,
        pdol.pdolAmountPrice,
        pdol.pdolDelNy,
        pdol.product_prdtSeq,
        pdol.pdolStatusCd,
        prdt.prdtName,
        prdt.prdtPrice,
        d.dealName,
        d.dealManager
        
	from
	  productorder pdor 
	  left join productorderlist pdol ON pdol.productorder_pdorSeq = pdor.pdorSeq
	  left join product prdt on prdt.prdtSeq = pdol.product_prdtSeq
	  left join dealer d ON  pdor.dealer_dealSeq = d.dealSeq
	WHERE 1=1
		and	pdorSeq = #{pdorSeq}
		and pdolDelNy = 0
	</select>
	
	<select id="selectedTempList" resultMap="resultMapObj">

	select
		tpol.tpolSeq
		,tpol.tpolQty
		,tpol.product_prdtSeq
        ,prdt.prdtName
        ,prdt.prdtPrice
        
	from
	  temporderlist tpol 
	  left join product prdt on prdt.prdtSeq = tpol.product_prdtSeq
	WHERE 1=1
	</select>
	
	
	<insert id="insertTemp1">
	insert into temporderlist(
			tpolQty
			,product_prdtSeq
		) values (
			#{tpolQty}
			,#{product_prdtSeq}
		)	
	</insert>
	<insert id="insertTemp">
	insert into productorderlist (
			pdolQty
			,product_prdtSeq
			,productorder_pdorSeq
		) values (
			#{pdolQty}
			,#{product_prdtSeq}
			,#{pdorSeq}
		)	
	</insert>
	
	
	<update id="ueletePdol">
		update productorderlist set
			pdolDelNy = 1
		where
			pdolSeq = #{pdolSeq}
	</update>
	
	<update id="updateOrder">
		update productorder set
        	pdorStatusCd = #{pdorStatusCd},
        	pdorModDate = date_format(NOW(), '%Y-%m-%d %H:%i:%S')
		where
			pdorNum = #{pdorNum}
	</update>
</mapper>