<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cass.demo.module.product.ProductDao">
	
	<resultMap type="com.cass.demo.module.product.ProductDto" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">	    
	    from
			product a
			<!-- left join codegroup b on a.codegroup_cdgrSeq = b.cdgrSeq -->
		where 1=1
		<if test="shUseNy != null and !shUseNy.equals('')">AND a.prdtUseNy = #{prdtUseNy}</if>
        <if test="shDelNy != null and !shDelNy.equals('')">AND a.prdtDelNy = #{prdtDelNy}</if>
				<choose>
					<when test="shOptionDate == 1">AND a.prdtRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND a.prdtModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
        <choose>
            <when test="shOption == 1">AND a.prdtName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 2">AND a.prdtSN LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND a.prdtCateCd LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
    </sql>
    
    <select id="selectOneCount" resultType="Integer">
    	select count(*)
    	 <include refid = "selectCommon"></include>
    </select>

	<select id="selectList" resultMap="resultMapObj">
	select aa.* from (
		select
			a.prdtSeq
			,a.prdtName
			,a.prdtSN
			,a.prdtPrice
			,a.prdtCateCd
			,a.prdtUseNy
			,a.prdtDelNy
			,a.prdtRegDate
			,a.prdtModDate
			,a.prdtDesc
		<include refid = "selectCommon"></include>
		order by prdtSeq desc
	) aa
<!-- 	limit #{rowNumToShow} offset #{startRnumForMysql} -->
	</select>
	
	<select id="selectGroupList" resultMap="resultMapObj">
		select
			prdtSeq
			,prdtName
		from
			product
		where 1=1			
		order by prdtSeq desc
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			prdtSeq
			,prdtName
			,prdtSN
			,prdtPrice
			,prdtCateCd
			,prdtUseNy
			,prdtDelNy
			,prdtRegDate
			,prdtModDate
			,prdtDesc
		from
			product
		where 1=1
			and prdtSeq = #{prdtSeq}
	</select>
	
	<insert id="insert">
		insert into product (
			prdtName
			,prdtSN
			,prdtPrice
			,prdtCateCd
			,prdtUseNy
			,prdtDelNy
			,prdtRegDate
			,prdtModDate
			,prdtDesc
		) values (
			#{prdtName}
			,#{prdtSN}
			,#{prdtPrice}
			,#{prdtCateCd}
			,#{prdtUseNy}
			,#{prdtDelNy}
			,CURRENT_TIMESTAMP
			,CURRENT_TIMESTAMP
			,#{prdtDesc}
		)
		<selectKey resultType="String" keyProperty="prdtSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		update code set
			codeName = #{codeName}
			,codeNameEng = #{codeNameEng}
			,codeUseNy = #{codeUseNy}
			,codeModDate = CURRENT_TIMESTAMP
			,codeDesc = #{codeDesc}
			,codegroup_cdgrSeq = #{codegroup_cdgrSeq}
		where
			codeSeq = #{codeSeq}
	</update>
	
	<update id="uelete">
		update code set
			codeDelNy = 1
		where
			codeSeq = #{codeSeq}
	</update>
	
	<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT 
			codeSeq
			, codeName
			, codegroup_cdgrSeq
		FROM
			code
		WHERE 1=1
			AND codeDelNy = 0
		    AND codeUseNy = 1
   	</select>
</mapper>