<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cass.demo.module.productorder.ProductOrderDao">

<resultMap id="resultMapObj" type="com.cass.demo.module.productorder.ProductOrderDto"></resultMap>

<select id="selectList" resultMap="resultMapObj">

	select
		pdor.pdorSeq,
		pdor.pdorNum,
        pdor.pdorRegDate,
        pdor.pdorModDate,
        pdor.pdorTotalPrice,
        pdor.pdorDesc,
        pdor.pdorDelNy,
        pdor.pdorStatusCd,
        pdor.dealer_dealSeq,
        pdol.pdolSeq,
        pdol.pdolQty,
        pdol.pdolAmountPrice,
        pdol.product_prdtSeq,
        d.dealName,
        d.dealManager
        
	from
	  productorder pdor 
	  left join productorderlist pdol ON pdol.productorder_pdorSeq = pdor.pdorSeq
	  left join dealer d ON  pdor.dealer_dealSeq = d.dealSeq
		WHERE 1=1 
		ORDER BY pdor.pdorSeq DESC
		limit #{rowNumToShow} offset #{startRnumForMysql}

</select>

	<select id="selectOneCount" resultType="Integer">
	
	Select count(*)
	
	From
	
		productorder pdor left join productorderlist pdol ON pdol.productorder_pdorSeq = pdor.pdorSeq
		WHERE 1=1 
	</select>

</mapper>