
<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org">

		<div th:replace="~{mobileXdm/include/head :: head}"></div>
        <form name="formList" id="formList" method="post" autocomplete="off">
          <input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>
          <input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>
          <div class="card mb-3" id="customersTable" data-list='{"valueNames":["#","use","code-group-code","code-group-name", "code-group-name-eng", "count", "order", "resist-date", "modify-date"],"page":10,"pagination":true}'>
            <div class="card-header" id="search">
              <div class="mb-2 row g-3">
                <h1>재고 내역</h1>
              </div>
              <div class="mb-2 row g-3">
                <div class="col-4">
                  <select class="form-select-JHY" id="shOptionDate" name="shOptionDate" aria-label="Default select example">
                    <option value="" th:selected="${vo.shOptionDate == null}">날짜</option>
                    <option value="1" th:selected="${vo.shOptionDate == 1}">입고일</option>
                    <option value="2" th:selected="${vo.shOptionDate == 2}">출고일</option>
                  </select>
                </div>
                <div class="col-4">
                  <input class="form-control-JHY datetimepicker" id="shDateStart" name="shDateStart" th:value="${#strings.substring(vo.shDateStart, 0, 10)}" type="text" placeholder="yy-mm-dd" autocomplete="off" data-options='{"disableMobile":true}' />
                </div>
                <div class="col-4">
                  <input class="form-control-JHY datetimepicker" id="shDateEnd" name="shDateEnd" type="text" th:value="${#strings.substring(vo.shDateEnd, 0, 10)}" placeholder="yy-mm-dd" autocomplete="off" data-options='{"disableMobile":true}' />
                </div>
              </div>
              <div class="mb-4 row g-3">
                <div class="col-4">
                  <select class="form-select-JHY" id="shOption" name="shOption" aria-label="Default select example">
                    <option value="" th:selected="${vo.shOption == null}">검색구분</option>
                    <option value="1" th:selected="${vo.shOption == 1}">저울 이름</option>
                  </select>
                </div>
                <div class="col-4">
                  <input class="form-control-JHY" type="text" id="shValue" name="shValue" th:value="${vo.shValue}" onkeyup="enterkey()" placeholder="검색어" />
                </div>
                <div class="col-4">
                  <button class="btn btn-outline-dark btn-sm" type="button" id="btnSearch" onclick="search()"><span class="fas fa-search"></span></button>
                  <button class="btn btn-outline-dark btn-sm" type="button" id="btnReset" onclick="shReset()"><span class="fas fa-redo-alt"></span></button>
                </div>
              </div>
              <div th:replace="~{mobileXdm/include/listRowNum :: listRowNum}"></div>
            </div>
            <div class="card-body p-0">
            <div class="row gx-x1 mx-0 align-items-center border-bottom border-200" th:each="list : ${list}">
            	<div class="col-1 py-3 px-x1">
            		<div th:text="${vo.totalRows - ((vo.thisPage - 1) * vo.rowNumToShow + listStat.index)}"></div>
            	</div>
                <div class="col-6 py-3 px-x1">
	                <div th:text="${list.prdtName}"></div>
					<span class="d-flex fs-11" th:if="${list.stckQty} > 0">입고일:&emsp;<div th:text="${#strings.substring(list.stckModDate, 0 ,10)}"></div></span>
					<span class="d-flex fs-11" th:if="${list.stckQty} < 0">출고일:&emsp;<div th:text="${#strings.substring(list.stckModDate, 0 ,10)}"></div></span>
                </div>
                <div class="col-4 py-3 px-x1 fs-11">
                	<span class="d-flex">총 갯수:&emsp;<div th:text="${list.stckTotalQty}"></div></span>
					<span class="d-flex">증감 수:&emsp;<div th:text="${list.stckQty}"></div></span>
                </div>
            </div>
		</div>
            <div th:replace="~{mobileXdm/include/pagination :: pagination}"></div>
            <div class="mb-2 row g-3 ms-1 me-1">
              <div class="col">
                <button class="btn btn-danger btn-sm" type="button" id="deleteBtn" value="1"><span class="bi-x"></span></button>
                <button class="btn btn-danger btn-sm" type="button" id="ueleteBtn" value="1"><span class="far fa-trash-alt"></span></button>
              </div>
              <div class="col" style="text-align: right;">
                <button class="btn btn-success btn-sm" type="button"><span class="far fa-file-excel"></span></button>
                <button class="btn btn-primary btn-sm" type="button" id="registerBtn"><span class="fas fa-plus"></span></button>
              </div>
            </div>
          </div>
        </form>
        <div th:replace="~{mobileXdm/include/foot :: foot}"></div>
      </div>
    </div>
  </main>
  <div th:replace="~{mobileXdm/include/modal :: modal}"></div>
  <div th:replace="~{mobileXdm/include/includeMobileFalcon :: includeMobileFalcon}"></div>
  <div th:replace="~{mobileXdm/include/includeMobileCommon :: includeMobileCommon}"></div>
  <div th:replace="~{mobileXdm/include/includeXdmList :: includeXdmList}"></div>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
 <script>
    let form = document.querySelector("form[name=formList]");
   
    let goUrlXdmList = "/mobileXdm/stock/StockXdmList";
    let goUrlXdmForm = "/xdm/codegroup/CodeGroupXdmForm";
    let goUrlXdmDeltProc = "/xdm/codegroup/CodeGroupXdmDeltProc";
    let goUrlXdmUeltProc = "/xdm/codegroup/CodeGroupXdmUeltProc";
 </script>
</body>

</html>
