<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{xdm/include/headNice :: headNice}"></div>
  <main id="main" class="main">

    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">page 1</a></li>
          <li class="breadcrumb-item">page 2</li>
          <li class="breadcrumb-item active">Default</li>
        </ol>
      </nav>
      <h1>CodeGroup</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        
        <div class="col-lg-12">
          <div class="card" >
            <div class="card-body">
              <h1 class="card-title" style="height: 100px;" >기본정보</h1>

              <!-- Custom Styled Validation -->
              <form class="row g-3" method="post" id="form" name="form">
                <div class="col-md-3" style="height: 100px;">
               		<input type="hidden" name="cdgSeq" th:value="${item?.cdgSeq}">
               		<input type="hidden" name="cdUpdtDate" >	               		
                	<label for="cdgcode" class="form-label">코드그룹 코드 <sup>*</sup></label>
                	<input type="text" class="form-control" id="cdgcode" value="" placeholder="자동생성" disabled th:value="${item?.cdgSeq}">
                </div>
      
                <div class="col-md-3" style="height: 100px;">
                  <label for="another" class="form-label">코드 (ANOTHER)</label>
                  <input type="text" class="form-control" id="another" value="" placeholder="영대소문자,숫자">
                </div>
                <div class="col-md-3">
                  <label for="cdgName" class="form-label">코드그룹 이름 <sup>*</sup></label>
                  <input type="text" class="form-control" id="cdgName" name="cdgName" placeholder="한글,영대문자,숫자" th:value="${item?.cdgName}">
                </div>
                
                <div class="col-md-3">
                  <label for="cdgNameEng" class="form-label">코드그룹 이름 (영문)</label>
                  <input type="text" class="form-control" id="cdgNameEng" name="cdgNameEng" placeholder="영대소문자,숫자" th:value="${item?.cdgNameEng}">
                </div>
                
                <div class="col-md-3" style="height: 100px;">
                  <label for="cdgUseNy" class="form-label">사용여부<sup>*</sup></label>
                  <select class="form-select" id="cdgUseNy" name="cdgUseNy" th:selected="${item?.cdgUseNy}">
                    <option value="">선택해주세요.</option>                                            
                    <option value="1" th:selected="${item?.cdgUseNy == 1}" th:text="사용"></option>
					<option value="0" th:selected="${item?.cdgUseNy == 0}" th:text="미사용"></option>
                  </select>
                </div>
                <div class="col-md-3">
                  <label for="validationCustom08" class="form-label">순서<sup>*</sup></label>
                  <input type="text" class="form-control" id="validationCustom08">
                  <div class="invalid-feedback">
                    올바른 순서값을 입력해주세요.
                  </div>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-6" style="height: 150px;">
                  <label for="cdgDesc" class="form-label">설명</label>
                  <textarea class="form-control" id="cdgDesc" name="cdgDesc" th:text="${item?.cdgDesc}"></textarea>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-6">
                  <a href="/codegroup/codegroupXdmList" class="btn btn-outline-dark"><i class="bi bi-blockquote-right"></i></a>
                  <button class="btn btn-danger">X</button>
                  <button type="button" class="btn btn-danger" id="btnUelete" ><i class="bi bi-trash"></i></button>
                </div>
                <div class="col-md-6">
                  <div style="display: flex;justify-content: end;"><button class="btn btn-primary" id="btnSubmit"><i class="bi bi-server"></i></button></div>
                </div>
              </form>
              
              <!-- End Custom Styled Validation -->

            </div>
          </div>
          
		<div class="modal fade" id="modalAlert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalAlertTitle">title</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body" id="modalAlertBody">
						body
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-secondary btn-sm btn_custom" data-bs-dismiss="modal" id="closeModal">닫힘</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal" id="modalConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalConfirmTitle">title</h5>
						<button type="button" class="btn-close" id="btnX" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body" id="modalConfirmBody">
						body
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-secondary" id="btnClose" data-bs-dismiss="modal">닫힘</button>
						<button type="button" class="btn btn-danger" name="" id="btnModalDelete"></button>
						<button type="button" class="btn btn-danger" name="" id="btnModalUelete">삭제</button>
					</div>
				</div>
			</div>
		</div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->
<div th:replace="~{xdm/include/footerNice :: footerNice}"></div>

<script type="text/javascript">
	let seq = document.querySelector("input[name=cdgSeq]");
	let form = document.querySelector("form[name=form]");
	
	function validationInst() {
	    if(validationUpdt() == false) return false;
	}
	
	function validationUpdt() {
		if(document.getElementById("cdgName").value.trim() == null || document.getElementById("cdgName").value.trim() == "") {
			alertModal()
			document.getElementById("cdgName").focus();
			return false;
		}
		if(document.getElementById("cdgNameEng").value.trim() == null || document.getElementById("cdgNameEng").value.trim() == "") {
			alertModal()
			return false;
		}
	}

	document.getElementById("btnSubmit").onclick = function () {
		if(seq.value == "0" || seq.value == "") {
			if(validationInst() == false) return false;
			form.action = "/codegroup/codegroupXdmInst";
			form.submit();
		} else {
			if(validationUpdt() == false) return false;
// 			alert(new Date());
			form.action = "/codegroup/codegroupXdmUpdt";
			form.submit();
		}
	}
	
	function alertModal() {
		document.querySelector("#modalAlertTitle").textContent = "입력오류";
		document.querySelector("#modalAlertBody").textContent = "형식에 맞는 값을 입력해주세요";
		$("#modalAlert").modal("show");
	}
		
		
	document.getElementById("btnUelete").onclick = function () {
		document.querySelector("#modalAlertTitle").textContent = "확 인";
		document.querySelector("#modalConfirmBody").textContent = "해당 데이터를 삭제하시겠습니까 ?";
		document.querySelector("#btnModalUelete").style.display = '';
		document.querySelector("#btnModalDelete").style.display = 'none';
		document.getElementById("modalConfirm").style.display = 'block';
		$("#modalConfirm").modal("show");
	}

	document.getElementById("btnModalUelete").onclick = function () {
		form.action = "/codegroup/codegroupXdmUele";
		form.submit();
	}
	
	document.getElementById("closeModal").onclick = function() {
		if(document.getElementById("cdgName").value.trim() == null || document.getElementById("cdgName").value.trim() == "") {
			document.getElementById("cdgName").focus();
			return false;
		}
		if(document.getElementById("cdgNameEng").value.trim() == null || document.getElementById("cdgNameEng").value.trim() == "") {
			document.getElementById("cdgNameEng").focus();
			return false;
		}
	}
	
	document.getElementById("savechanges").onclick = function() {
		alert("savechanges");
	}
	</script>

</body>
</html>