<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="foot">
	<footer class="fixed-bottom bg-white border-top shadow-sm">
	  <div class="d-flex justify-content-around text-center py-1">
	    <div>
	      <a href="/mobileXdm/index/IndexXdmView" class="text-decoration-none" th:classappend="${activePage} == 'index' ? ' text-primary' : ' text-secondary'">
	        <i class="bi bi-house fs-4"></i><br>
	      </a>
	    </div>
	    <div>
	      <a href="/mobileXdm/manufacture/ManufactureXdmList" class="text-decoration-none" th:classappend="${activePage} == 'manufacture' ? ' text-primary' : ' text-secondary'">
	        <i class="bi bi-gear fs-4"></i><br>
	      </a>
	    </div>
	    <div>
	      <a href="/mobileXdm/income/IncomeXdmList" class="text-decoration-none" th:classappend="${activePage} == 'income' ? ' text-primary' : ' text-secondary'">
	        <i class="bi bi-download fs-4"></i><br>
	      </a>
	    </div>
		<div>
		  <a href="/mobileXdm/delivery/DeliveryMobileXdmList" class="text-decoration-none" th:classappend="${activePage} == 'delivery' ? ' text-primary' : ' text-secondary'">
		    <i class="bi bi-upload fs-4"></i><br>
		  </a>
		</div>
	    <div>
	      <a href="/mobileXdm/stock/StockXdmList" class="text-decoration-none" th:classappend="${activePage} == 'stock' ? ' text-primary' : ' text-secondary'">
	        <i class="bi bi-box fs-4"></i><br>
	      </a>
	    </div>
	  </div>
	</footer>
</th:block>