<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{xdm/include/headNice :: headNice}"></div>
  <main id="main" class="main">

    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">page 1</a></li>
          <li class="breadcrumb-item">page 2</li>
          <li class="breadcrumb-item active">Default</li>
        </ol>
      </nav>
      <h1>상품거래처</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        
        <div class="col-lg-12">
          <div class="card" >
            <div class="card-body">
              <h1 class="card-title" style="height: 100px;" >기본정보</h1>

              <!-- Custom Styled Validation -->
              <form class="row g-3" method="post" id="form" name="form">
               		<input type="hidden" name="dealSeq" >	               		
                <div class="col-md-3" style="height: 100px;">
                	<label for="dealName" class="form-label">대리점명 <sup>*</sup></label>
                	<input type="text" class="form-control" id="dealName" name="dealName"  value="" placeholder="대리점명" th:value="${item?.dealName}">
                </div>
      
                <div class="col-md-3" style="height: 100px;">
                  <label for="dealAddress" class="form-label">주소</label>
                  <input type="text" class="form-control" id="dealAddress" name="dealAddress" value="" placeholder="회사 주소" th:value="${item?.dealAddress}">
                </div>
                <div class="col-md-3">
                  <label for="dealManager" class="form-label">성함<sup>*</sup></label>
                  <input type="text" class="form-control" id="dealManager" name="dealManager" placeholder="이름" th:value="${item?.dealManager}">
                </div>
                
                <div class="col-md-3">
                  <label for="dealManagerTel" class="form-label">매니저번호</label>
                  <input type="text" class="form-control" id="dealManagerTel" name="dealManagerTel" placeholder="xxx-xxxx-xxxx" th:value="${item?.dealManagerTel}" required>
                </div>
                
                <div class="col-md-3" style="height: 100px;">
                  <label for="dealUseNy" class="form-label">사용여부<sup>*</sup></label>
                  <select class="form-select" id="dealUseNy" name="dealUseNy" th:selected="${item?.dealUseNy}">
                    <option value="">선택해주세요.</option>                                            
                    <option value="1" th:selected="${item?.dealUseNy == 1}" th:text="사용"></option>
					<option value="0" th:selected="${item?.dealUseNy == 0}" th:text="미사용"></option>
                  </select>
                </div>
                
                <div class="col-md-3" style="height: 100px;">
                  <label for="dealDelNy" class="form-label">삭제<sup>*</sup></label>
                  <select class="form-select" id="dealDelNy" name="dealDelNy" th:selected="${item?.dealDelNy}">
                    <option value="">선택해주세요.</option>                                            
                    <option value="1" th:selected="${item?.dealDelNy == 1}" th:text="사용"></option>
					<option value="0" th:selected="${item?.dealDelNy == 0}" th:text="미사용"></option>
                  </select>
                </div>
              </form>
              
              <!-- End Custom Styled Validation -->
				
				<div class="row">
                <div class="col-md-6">
                  <a href="/dealer/dealerXdmList" class="btn btn-outline-dark"><i class="bi bi-blockquote-right"></i></a>
                  <button class="btn btn-danger">X</button>
                  <button type="button" class="btn btn-danger" id="btnUelete" ><i class="bi bi-trash"></i></button>
                </div>
                <div class="col-md-6">
                  <div style="display: flex;justify-content: end;"><button type="button" class="btn btn-primary" id="btnSubmit"><i class="bi bi-server"></i></button></div>
                </div>
            </div>
          </div>
         </div>
          
		<div class="modal fade" id="modalAlert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalAlertTitle">title</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body" id="modalAlertBody">
						body
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-secondary btn-sm btn_custom" data-bs-dismiss="modal" id="closeModal">닫힘</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal" id="modalConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalConfirmTitle">title</h5>
						<button type="button" class="btn-close" id="btnX" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body" id="modalConfirmBody">
						body
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-secondary" id="btnClose" data-bs-dismiss="modal">닫힘</button>
						<button type="button" class="btn btn-danger" name="btnModalDelete" id="btnModalDelete"></button>
						<button type="button" class="btn btn-danger" name="btnModalUelete" id="btnModalUelete">삭제</button>
					</div>
				</div>
			</div>
		</div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->
<div th:replace="~{xdm/include/footerNice :: footerNice}"></div>

<script type="text/javascript">
	let seq = document.querySelector("input[name=dealSeq]");
	let form = document.querySelector("form[name=form]");
	
	function validationInst() {
	    if(validationUpdt() == false) return false;
	}
	
	function validationUpdt() {
		if(document.getElementById("dealName").value.trim() == null || document.getElementById("dealName").value.trim() == "") {
			alertModal()
			document.getElementById("dealName").focus();
			return false;
		}
	}

	document.getElementById("btnSubmit").onclick = function () {
		if(seq.value == "0" || seq.value == "") {
			if(validationInst() == false) return false;
			form.action = "/dealer/dealerXdmInst";
			form.submit();
		} else {
			if(validationUpdt() == false) return false;
// 			alert(new Date());
			form.action = "/dealer/dealerXdmUpdt";
			form.submit();
		}
	}
	
	function alertModal() {
		document.querySelector("#modalAlertTitle").textContent = "입력오류";
		document.querySelector("#modalAlertBody").textContent = "형식에 맞는 값을 입력해주세요";
		$("#modalAlert").modal("show");
	}
		
		
	document.getElementById("btnUelete").onclick = function () {
		document.querySelector("#modalConfirmTitle").textContent = "확 인";
		document.querySelector("#modalConfirmBody").textContent = "해당 데이터를 삭제하시겠습니까 ?";
		document.querySelector("#btnModalUelete").style.display = '';
		document.querySelector("#btnModalDelete").style.display = 'none';
		document.getElementById("modalConfirm").style.display = 'block';
		$("#modalConfirm").modal("show");
	}

	document.getElementById("btnModalUelete").onclick = function () {
		form.action = "/dealer/dealerXdmUele";
		form.submit();
	}
	
	document.getElementById("closeModal").onclick = function() {
		if(document.getElementById("dealName").value.trim() == null || document.getElementById("dealName").value.trim() == "") {
			document.getElementById("dealName").focus();
			return false;
		}
	}
	
	document.getElementById("savechanges").onclick = function() {
		alert("savechanges");
	}
	</script>

</body>
</html>