<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{xdm/include/headNice :: headNice}"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">page 1</a></li>
          <li class="breadcrumb-item">page 2</li>
          <li class="breadcrumb-item active">Default</li>
        </ol>
      </nav>
      <h1>주문관리</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        
        <div class="col-lg-12">
          <div class="card" >
            <div class="card-body">
              <h1 class="card-title" style="height: 100px;" >기본정보</h1>

              <!-- Custom Styled Validation -->
              <form class="g-3 needs-validation" method="post" id="form" name="form" novalidate>
                <input type="hidden" name="pdorSeq" th:value="${item?.pdorSeq}">	
                <input type="hidden" name="pdorNum" th:value="${item?.pdorNum}">	
                <input type="hidden" name="pdorStatusCd" th:value="${item?.pdorStatusCd}">	
                <input type="hidden" name="productorder_pdorSeq" th:value="${item?.pdorSeq}">	
<!--                 <div class="col-md-3" style="height: 100px;"> -->
<!--                   <label for="codegroup_pdorgSeq" class="form-label">코드그룹<sup>*</sup></label> -->
<!--                   <select class="form-select" id="codegroup_pdorgSeq" name="codegroup_pdorgSeq" required> -->
<!--                     <option value="">선택하세요</option> -->
<!-- 	                <option th:each ="list : ${list}" th:value="${list.pdorgSeq}" th:text="${list.pdorgName}" th:selected="${list.pdorgSeq == item?.codegroup_pdorgSeq}"></option>                                               -->
<!--                   </select> -->
<!--                   <div class="invalid-feedback"> -->
<!--                     코드그룹을 선택 해주세요. -->
<!--                   </div> -->
<!--                 </div> -->
<!--                 <div class="col-md-9"> -->
                  
<!--                 </div> -->
				<div class="row">
	                <div class="col-md-3" style="height: 100px;">
	                  <label for="code" class="form-label">코드<sup>*</sup></label>
	                  <input type="text" class="form-control" id="pdorSeq" placeholder="자동생성" th:value="${item?.pdorSeq}" required disabled>
	                  <div class="valid-feedback">
	                    Looks good!
	                  </div>
	                </div>
	                <div class="col-md-3">
	                  <label for="another" class="form-label">주문번호</label>
	                  <input type="text" class="form-control" id="pdorNum" name="pdorNum" placeholder="자동생성" th:value="${item?.pdorNum}" disabled>
	                </div>
	                
	                <div class="col-md-3">
	                  <label for="pdorName" class="form-label">거래처명<sup>*</sup></label>
	                  <select class="form-select" id="dealer_dealSeq" name="dealer_dealSeq" aria-label="Default select example">
	                    <option value="">주문처 선택</option>
						<option th:each="list : ${dealerList}" th:text="${list.dealName}" th:value="${list.dealSeq}" th:selected="${item.dealer_dealSeq} == ${list.dealSeq}"></option>
	                  </select>
	                  <div class="invalid-feedback" id="name-invalid-feedback">
	                    거래처명을 입력해주세요.
	                  </div>
	                </div>
	                <div class="col-md-3" style="height: 100px;">
	                  <label for="pdorStatusCd" class="form-label">주문상태<sup>*</sup></label>
	                  <select class="form-select" id="pdorStatusCd" name="pdorStatusCd" th:value="${item?.pdorStatusCd}" disabled required>
	                    <option th:each="list : ${@codeService.selectListCachedCode(2)}" th:value="${list.codeSeq}" th:text="${list.codeName}" th:selected="${list.codeSeq} == ${item?.pdorStatusCd}"></option>
	                  </select>
	                  <div class="invalid-feedback">
	                    항목중 하나를 선택 해주세요.
	                  </div>
	                </div>
	            </div>
            	<div class="row mt-4">
	                <div class="col-md-3">
	                  <label for="product_prdtSeq" class="form-label">상품이름<sup>*</sup></label>
	                  <select class="form-select" id="product_prdtSeq" name="product_prdtSeq" aria-label="Default select example">
	                    <option value="">주문저울 선택</option>
						<option th:each="list : ${productList}" th:text="${list.prdtName}" th:value="${list.prdtSeq}"></option>
	                  </select>
	                </div>
                <div class="col-md-2">
                  <label for="tpolQty" class="form-label">주문수량<sup>*</sup></label>
                  <input type="text" class="form-control" id="pdolQty" name="pdolQty" placeholder="수량" required>
                </div>
                <div class="col-md-1" style="padding-top: 3.5ex;">
                <button type="button" class="btn btn-primary"id="btntemplus" name="btntemplus"><i class="bi bi-plus-lg"></i></button>
                
                </div>
                </div>
				<div class="row mt-4">
	                <div class="col-md-6" style="height: 150px;">
	                  <label for="pdorDesc" class="form-label">설명</label>
	                  <textarea class="form-control" id="pdorDesc" name="pdorDesc" th:text="${item?.pdorDesc}"></textarea>
	                </div>
	            </div>
              </form>
              
<section class="section">
		<p class="fs-0" style="padding-top: 12px;">주문추가</p>
        <form class="row g-3 needs-validation" id="tempList" name="tempList" method="post" novalidate>
        <input type="hidden" name="tpolSeq">
              <table class="table datatable" style="text-align: center;">
                <thead>
                  <tr>
                    <th class="list-sort" style="text-align: center;">번호</th>
                    <th class="list-sort" style="text-align: center;">상품명</th>
					<th class="list-sort" style="text-align: center;">수량</th>
                    <th class="list-sort" style="text-align: center;">단가</th>
                    <th class="list-sort" style="text-align: center;">총액</th>
                    <th class="list-sort" style="text-align: center;">삭제</th>
                  </tr>
                </thead>
                <tbody>
                    <tr th:if="${#lists.isEmpty(temp)}" class="hover-action-trigger btn-reveal-trigger position-static">
	               		<td colspan="10">
	               			<p class="fs-0" style="padding-top: 12px;">주문내역이 없습니다!</p>
	               		</td>
	               	</tr>
	                   <tr th:if="${!#lists.isEmpty(temp)}" th:each ="temp : ${temp}">
					   <td th:text = "${temp.tpolSeq}"></td>
					   <td th:text = "${temp.prdtName}"></td>
					   <td th:text = "${temp.tpolQty}"></td>
					   <td th:text = "${temp.prdtPrice}"></td>
					   <td th:text = "${temp.tpolTotalPrice}"></td>
					   <td><button type="button" id="ueletePdol" name="ueletePdol" class="btn btn-danger"><i class="bi bi-trash"></i></button></td>
	                   </tr>
                  </tbody>
                  <tfoot>
                   
                  </tfoot>
                  
                  </table>
                  
       </form>
    </section>
              
<section class="section">
<p>주문내역</p>
        <form class="row g-3 needs-validation" id="formList" name="formList" method="post" novalidate>
        <input type="hidden" name="pdorSeq">
              <!-- Table with stripped rows -->
              <table class="table datatable" style="text-align: center;">
                <thead>
                  <tr>
                    <th class="list-sort" style="text-align: center;">주문번호</th>
                    <th class="list-sort" style="text-align: center;">주문상품</th>
					<th class="list-sort" style="text-align: center;">주문수량</th>
                    <th class="list-sort" style="text-align: center;">상품단가</th>
                    <th class="list-sort" style="text-align: center;">주문총액</th>
                    <th class="list-sort" style="text-align: center;">주문상태</th>
                    <th class="list-sort" style="text-align: center;">주문삭제</th>
                  </tr>
                </thead>
                <tbody>
                    <tr th:if="${#lists.isEmpty(list)}" class="hover-action-trigger btn-reveal-trigger position-static">
	               		<td colspan="10">
	               			<p class="fs-0" style="padding-top: 12px;">주문내역이 없습니다!</p>
	               		</td>
	               	</tr>
	                   <tr th:if="${!#lists.isEmpty(list)}" th:each ="list : ${list}">
					   <td th:text = "${list.pdolSeq}"></td>
					   <td th:text = "${list.prdtName}"></td>
					   <td th:text = "${list.pdolQty}"></td>
					   <td th:text = "${list.prdtPrice}"></td>
					   <td th:text = "${list.pdolAmountPrice}"></td>
					   <td th:text = "${@codeService.selectOneCachedCode(list.pdolStatusCd)}"></td>
					   <td><button type="button" id="ueletePdol" name="ueletePdol" class="btn btn-danger"><i class="bi bi-trash"></i></button></td>
	                   </tr>
                  </tbody>
                  <tfoot>
                   
                  </tfoot>
                  
                  </table>
                  <div class="row">
                  <div class="col-md-6">
                  <a href="/productorder/ProductOrderXdmList" class="btn btn-outline-dark"><i class="bi bi-blockquote-right"></i></a>
                  <button class="btn btn-danger">X</button>
                  <button type="button" class="btn btn-danger" id="btnUelete"><i class="bi bi-trash"></i></button>
                </div>
                <div class="col-md-6">
                  <div style="display: flex;justify-content: end;"><button type="button" class="btn btn-primary" id="btnSubmit"><i class="bi bi-server"></i></button></div>
                </div>
                  </div>
       </form>
    </section>
       
            </div>
          </div>
		<div class="modal" id="modalConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalConfirmTitle">title</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body" id="modalConfirmBody">
						body
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫힘</button>
						<button type="button" class="btn btn-danger" name="" id="btnModalDelete"></button>
						<button type="button" class="btn btn-danger" name="" id="btnModalUelete">삭제</button>
					</div>
				</div>
			</div>
		</div>
          

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <div th:replace="~{xdm/include/footerNice :: footerNice}"></div>

    <script type="text/javascript">
    let seq = document.querySelector("input[name=pdorSeq]");
    let form = document.querySelector("form[name=form]");
//     let formList = document.querySelector("form[name=formList]");
//     let tempList = document.querySelector("form[name=tempList]");
    
    
//     $("#pdorName").on("keyup", function(){
//     	let regExp = /^[A-Za-zㄱ-ㅎ가-힣0-9_]{2,}$/
// 		$("#pdorName").removeClass("is-invalid");
// 		if(!regExp.test($("#pdorName").val())) {
// 			$("#pdorName").removeClass("is-valid");
// 			$("#pdorName").addClass("is-invalid");
// 			document.getElementById("name-invalid-feedback").innerText = "한영과 숫자만 입력해주세요";
// 			document.getElementById("btnSubmit").setAttribute("disabled", "");
// 		} else {
// 			$("#pdorName").removeClass("is-invalid");
// 			$("#pdorName").addClass("is-valid");
// 			document.getElementById("btnSubmit").removeAttribute("disabled", "");
// 		}
// 	});
//     $("#pdorNameEng").on("keyup", function(){
//     	let regExp = /^[A-Za-z0-9_]+$/
// 		$("#pdorNameEng").removeClass("is-invalid");
// 		if(!regExp.test($("#pdorNameEng").val())) {
// 			$("#pdorNameEng").removeClass("is-valid");
// 			$("#pdorNameEng").addClass("is-invalid");
// 			document.getElementById("nameeng-invalid-feedback").innerText = "알파벳과 숫자만 입력해주세요";
// 			document.getElementById("btnSubmit").setAttribute("disabled", "");
// 		} else {
// 			$("#pdorNameEng").removeClass("is-invalid");
// 			$("#pdorNameEng").addClass("is-valid");
// 			document.getElementById("btnSubmit").removeAttribute("disabled", "");
// 		}
// 	});
    
    
//     function validationInst() {
// 	    if(validationUpdt() == false) return false;
// 	    if(document.getElementById("codegroup_pdorgSeq").value == null || document.getElementById("codegroup_pdorgSeq").value == "") {
//     		document.getElementById("codegroup_pdorgSeq").classList.add("is-invalid");
//     		return false;
// 		} else {
//     		document.getElementById("codegroup_pdorgSeq").classList.remove("is-invalid");			
// 		}
// 		if(document.getElementById("pdorName").value.trim() == null || document.getElementById("pdorName").value.trim() == "") {
//     		document.getElementById("pdorName").classList.add("is-invalid");
// 			return false;
// 		} else {
//     		document.getElementById("pdorName").classList.remove("is-invalid");
// 		}		
// 		if(document.getElementById("pdorNameEng").value.trim() == null || document.getElementById("pdorNameEng").value.trim() == "") {
// 			document.getElementById("pdorNameEng").classList.add("is-invalid");
// 			return false;
// 		} else {
//     		document.getElementById("pdorNameEng").classList.remove("is-invalid");
// 		}	
// 	}
	
// 	function validationUpdt() {		
// 	}

	document.getElementById("btnSubmit").onclick = function () {
			alert("2");
		if(seq.value == "0" || seq.value == "") {
// 			if(validationInst() == false) return false;
			form.action = "/product/ProductOrderXdmInst";
			form.submit();
			alert("3");
		} else {
// 			if(validationUpdt() == false) return false;
			form.action = "/product/ProductOrderXdmUpdt";
			form.submit();
		}
	}
	
	document.getElementById("ueletePdol").onclick = function () {
		document.querySelector("#modalConfirmTitle").textContent = "확 인";
		document.querySelector("#modalConfirmBody").textContent = "해당 데이터를 삭제하시겠습니까 ?";
		document.querySelector("#btnModalUelete").style.display = '';
		document.querySelector("#btnModalDelete").style.display = 'none';
		$("#modalConfirm").modal("show");
	}

// 	goForm = function (keyValue) {
// 	    seq.value = keyValue;
// 	    form.action = "/product/ProductOrderXdmForm";
// 	    form.submit();
// 	}
	
	document.getElementById("btnModalUelete").onclick = function () {
		formList.action = "/product/ProductOrderXdmUelePdol";
		formList.submit();
	}
	
	</script>

</body>

</html>