<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{xdm/include/headNice :: headNice}"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">page 1</a></li>
          <li class="breadcrumb-item">page 2</li>
          <li class="breadcrumb-item active">Default</li>
        </ol>
      </nav>
      <h1>주문관리</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        
        <div class="col-lg-12">
          <div class="card" >
            <div class="card-body">
              <h1 class="card-title" style="height: 100px;" >기본정보</h1>

              <!-- Custom Styled Validation -->
              <form class="g-3 needs-validation" method="post" id="form" name="form" novalidate>
                <input type="hidden" name="pdorSeq" th:value="${item?.pdorSeq}">	
                <input type="hidden" name="pdorNum" th:value="${item?.pdorNum}">	
                <input type="hidden" name="pdorStatusCd" th:value="${item?.pdorStatusCd}">	
                <input type="hidden" name="productorder_pdorSeq" th:value="${item?.pdorSeq}">
                <input type="hidden" id="scaleNameArray" name="scaleNameArray">
                <input type="hidden" id="scaleCountArray" name="scaleCountArray">
				<div class="row">
	                <div class="col-md-3" style="height: 100px;">
	                  <label for="code" class="form-label">코드<sup>*</sup></label>
	                  <input type="text" class="form-control" id="pdorSeq" placeholder="자동생성" th:value="${item?.pdorSeq}" required disabled>
	                  <div class="valid-feedback">
	                    Looks good!
	                  </div>
	                </div>
	                <div class="col-md-3">
	                  <label for="another" class="form-label">주문번호</label>
	                  <input type="text" class="form-control" id="pdorNum" name="pdorNum" placeholder="자동생성" th:value="${item?.pdorNum}" disabled>
	                </div>
	                
	                <div class="col-md-3">
	                  <label for="pdorName" class="form-label">거래처명<sup>*</sup></label>
	                  <select class="form-select" id="dealer_dealSeq" name="dealer_dealSeq" aria-label="Default select example">
	                    <option value="">주문처 선택</option>
						<option th:each="list : ${dealerList}" th:text="${list.dealName}" th:value="${list.dealSeq}" th:selected="${item.dealer_dealSeq} == ${list.dealSeq}"></option>
	                  </select>
	                  <div class="invalid-feedback" id="name-invalid-feedback">
	                    거래처명을 입력해주세요.
	                  </div>
	                </div>
	                <div class="col-md-3" style="height: 100px;">
	                  <label for="pdorStatusCd" class="form-label">주문상태<sup>*</sup></label>
	                  <select class="form-select" id="pdorStatusCd" name="pdorStatusCd" th:value="${item?.pdorStatusCd}" disabled required>
	                    <option th:each="list : ${@codeService.selectListCachedCode(2)}" th:value="${list.codeSeq}" th:text="${list.codeName}" th:selected="${list.codeSeq} == ${item?.pdorStatusCd}"></option>
	                  </select>
	                  <div class="invalid-feedback">
	                    항목중 하나를 선택 해주세요.
	                  </div>
	                </div>
	            </div>
            	<div class="row mt-4">
	                <div class="col-md-3">
	                  <label for="product_prdtSeq" class="form-label">상품이름<sup>*</sup></label>
	                  <select class="form-select" id="product_prdtSeq" aria-label="Default select example">
	                    <option value="">주문저울 선택</option>
						<option th:each="list : ${productList}" th:text="${list.prdtName}" th:value="${list.prdtSeq}"></option>
	                  </select>
	                </div>
                <div class="col-md-2">
                  <label for="tpolQty" class="form-label">주문수량<sup>*</sup></label>
                  <input type="text" class="form-control" id="pdolQty" placeholder="수량" required>
                </div>
                <div class="col-md-1" style="padding-top: 3.5ex;">
                <button type="button" class="btn btn-primary"id="btntemplus" name="btntemplus"><i class="bi bi-plus-lg"></i></button>
                
                </div>
                </div>
				<div class="row mt-4">
	                <div class="col-md-6" style="height: 150px;">
	                  <label for="pdorDesc" class="form-label">설명</label>
	                  <textarea class="form-control" id="pdorDesc" name="pdorDesc" th:text="${item?.pdorDesc}"></textarea>
	                </div>
	            </div>
              
				<section class="section mb-4">
					<p class="fs-0" style="padding-top: 12px;">주문추가</p>
					<div class="row">
			            <div class="col-6" id="addOrder"></div>
			        </div>
			        <hr>
    			</section>
              
				<section class="section mb-4">
					<p class="fs-0" style="padding-top: 12px;">주문내역</p>
					<div class="row">
	            		<div class="col-6" id="prevOrder"></div>
	            	</div>
	            	<hr>
            	</section>
            </form>
            	
            <div class="row">
            	<div class="col-md-6">
             	<a href="/productorder/ProductOrderXdmList" class="btn btn-outline-dark"><i class="bi bi-blockquote-right"></i></a>
               	<button class="btn btn-danger">X</button>
               	<button type="button" class="btn btn-danger" id="btnUelete"><i class="bi bi-trash"></i></button>
            	</div>
            	<div class="col-md-6">
              		<div style="display: flex;justify-content: end;"><button type="button" class="btn btn-primary" id="btnSubmit"><i class="bi bi-server"></i></button></div>
            	</div>
            </div>
          </div>
        </div>
		<div class="modal" id="modalConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalConfirmTitle">title</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body" id="modalConfirmBody">
						body
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫힘</button>
						<button type="button" class="btn btn-danger" name="" id="btnModalDelete"></button>
						<button type="button" class="btn btn-danger" name="" id="btnModalUelete">삭제</button>
					</div>
				</div>
			</div>
		</div>
          

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <div th:replace="~{xdm/include/footerNice :: footerNice}"></div>
  <script th:inline="javascript" src="/xdm/template/NiceAdmin/assets/js/product.js"></script>

    <script type="text/javascript">
    let seq = document.querySelector("input[name=pdorSeq]");
    let form = document.querySelector("form[name=form]");

	document.getElementById("btnSubmit").onclick = function () {
			scaleInfoSave();
		/* if(seq.value == "0" || seq.value == "") {
// 			if(validationInst() == false) return false;
			form.action = "/productorder/ProductOrderXdmInst";
			form.submit();
			alert("3");
		} else { */
// 			if(validationUpdt() == false) return false;
			form.action = "/productorder/ProductOrderXdmInst";
			form.submit();
		//}
	}
	
	document.getElementById("ueletePdol").onclick = function () {
		document.querySelector("#modalConfirmTitle").textContent = "확 인";
		document.querySelector("#modalConfirmBody").textContent = "해당 데이터를 삭제하시겠습니까 ?";
		document.querySelector("#btnModalUelete").style.display = '';
		document.querySelector("#btnModalDelete").style.display = 'none';
		$("#modalConfirm").modal("show");
	}

// 	goForm = function (keyValue) {
// 	    seq.value = keyValue;
// 	    form.action = "/product/ProductOrderXdmForm";
// 	    form.submit();
// 	}
	
	document.getElementById("btnModalUelete").onclick = function () {
		formList.action = "/product/ProductOrderXdmUelePdol";
		formList.submit();
	}
	
	</script>

</body>

</html>